<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Liste Articles</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/article_all.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/scroll.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/pagination.css" />
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/category">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>

        <!-- CONTENT -->
        <div class="main-content">
            <div class="a-container">
                <div class="a-header">
                    <h2>Liste de tous articles</h2>
                </div>

                <div class="a-content">
                    <div class="a-site-one">
                        <a th:each="category : ${categories}" th:href="@{/web/article(category=${category.id})}"
                            th:text="${category.name}">
                        </a>
                    </div>

                    <div class="a-site-two">
                        <div class="a-head">
                            <a class="title" href="/web/article/edit">Créer un article</a>
                        </div>

                        <div class="a-articles">
                            <div class="a-card" th:each="article : ${articles}">
                                <div class="a-head">
                                    <a class="a-title" th:href="@{'/web/article/detail/'+${article.id}}"
                                        th:text="${article.name}"></a>
                                </div>

                                <div class="a-body">
                                    <div>
                                        <p>Identifiant</p>
                                        <p th:text="${article.id}"></p>
                                    </div>
                                    <div>
                                        <p>Code</p>
                                        <p th:text="${article.code}"></p>
                                    </div>
                                    <div>
                                        <p>Date</p>
                                        <p th:text="${article.date}"></p>
                                    </div>
                                    <div>
                                        <p>Quantité</p>
                                        <p th:text="${article.quantity}"></p>
                                    </div>
                                    <div>
                                        <p>Price</p>
                                        <p th:text="${article.price}"></p>
                                    </div>
                                    <div>
                                        <p>Catégorie</p>
                                        <p th:text="${article.category.name}"></p>
                                    </div>
                                </div>

                                <div class="a-foot">
                                    <a th:href="@{/web/article/edit(id=${article.id})}" class="update">Modifier</a>
                                    <a th:href="@{'/web/article/delete/'+${article.id}}" class="delete">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="paginator">
                    <p id="number" class="hidden" th:text="${number}"></p>
                    <p id="totalPages" class="hidden" th:text="${totalPages}"></p>
                    <p id="category" class="hidden" th:text="${category}"></p>
                    <div class="a-size">
                        <label for="size">taille</label>
                        <input type="text" id="size" th:value="${size}">
                    </div>
                    <div class="a-pagination">
                        <div class="counter"></div>
                        <button class="paginate left"><i></i><i></i></button>
                        <button class="paginate right"><i></i><i></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/pagination.js"></script>
</body>

</html>