<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Détail Article</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/article_detail.css" />
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/category">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>

        <!-- CONTENT -->
        <div class="main-content">
            <div class="a-container">
                <div class="a-header">
                    <h2>Détal de l'article <span th:text="${article.name}"></span></h2>
                </div>

                <div class="a-content">
                    <div class="a-head">
                        <a class="title" href="/web/article">Liste des articles</a>
                        <a class="title" href="/web/article/edit">Créer un article</a>
                    </div>

                    <div class="a-card">
                        <div class="a-head">
                            <h1 class="a-title" th:href="@{'/web/article/detail/'+${article.id}}"
                                th:text="${article.name}">
                            </h1>
                        </div>

                        <div class="a-body">
                            <div class="a-site">
                                <div>
                                    <p>Identifiant</p>
                                    <p th:text="${article.id}"></p>
                                </div>
                                <div>
                                    <p>Code</p>
                                    <p th:text="${article.code}"></p>
                                </div>
                                <div>
                                    <p>Date</p>
                                    <p th:text="${article.date}"></p>
                                </div>
                                <div>
                                    <p>Quantité</p>
                                    <p th:text="${article.quantity}"></p>
                                </div>
                                <div>
                                    <p>Stock minimum</p>
                                    <p th:text="${article.stockMin}"></p>
                                </div>
                                <div>
                                    <p>Price</p>
                                    <p th:text="${article.price}"></p>
                                </div>
                                <div>
                                    <p>Catégorie</p>
                                    <p th:text="${article.category.name}"></p>
                                </div>
                            </div>
                            <div class="a-site">
                                <div>
                                    <p>Description</p>
                                    <p th:text="${article.description}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="a-foot">
                            <a th:href="@{/web/article/edit(id=${article.id})}" class="update">Modifier</a>
                            <a th:href="@{'/web/article/delete/'+${article.id}}" class="delete">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>