<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Edition Article</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/article_edit.css" />
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/category">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>

        <!-- CONTENT -->
        <div class="main-content">
            <div class="a-container">
                <div class="a-header">
                    <h2>Edition d'un article</h2>
                </div>
        
                <div class="a-edit">
                    <div class="a-head">
                        <a class="title" href="/web/article">Liste des articles</a>
                    </div>
                    
                    <form class="a-card form" action="#" th:action="@{/web/article}" th:object="${article}" method="post"
                        autocomplete="off">
                        <div class="a-head">
                            <h4>Edition d'un article</h4>
                        </div>
        
                        <div class="a-body">
                            <input type="number" th:field="*{id}" style="display: none;">
        
                            <div class="form-group">
                                <label for="code">Code</label>
                                <input id="code" type="text" th:field="*{code}">
                            </div>
                            <!-- <div class="form-group">
                                <label for="date">Date</label>
                                <input id="date" type="date" th:field="*{date}">
                            </div> -->
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input id="name" type="text" th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="stockMin">Stock minimum</label>
                                <input type="number" id="stockMin" th:field="*{stockMin}">
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantité</label>
                                <input id="quantity" th:field="*{quantity}">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input id="price" th:field="*{price}">
                            </div>
                            <div class="form-group">
                                <label for="category">Catégorie de l'article</label>
                                <select type="number" id="category" th:field="*{category.id}">
                                    <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group textarea">
                                <label for="description">Description</label>
                                <textarea id="description" th:field="*{description}" cols="30" rows="5"></textarea>
                            </div>
                        </div>
        
                        <div class="a-foot">
                            <button name="save" type="submit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>