<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Liste Utilisateurs</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/user_all.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/scroll.min.css" />
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/category">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="a-container">
                <div class="a-header">
                    <h2>Liste des utilisateurs</h2>
                </div>
                <div class="a-content">
                    <div class="a-head">
                        <a class="title" href="/web/user/edit">Créer un utilisateur</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <th th:text="${user.username}"></th>
                                <th>
                                    <a th:href="@{/web/user/edit(id=${user.id})}" class="update">Modifier</a>
                                    <a th:href="@{'/web/user/delete/'+${user.id}}" class="delete">Supprimer</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/pagination.js"></script>
</body>

</html>