<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Edition Article</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/user_edit.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/scroll.min.css" />
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/role">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="a-container">
                <div class="a-header">
                    <h2>Edition d'un user</h2>
                </div>
                <div class="a-edit">
                    <div class="a-head">
                        <a class="title" href="/web/user">Liste des users</a>
                    </div>
                    <form class="a-card form" action="#" th:action="@{/web/user}" th:object="${user}" method="post"
                        autocomplete="off">
                        <div class="a-head">
                            <h4>Edition d'un utilisateur</h4>
                        </div>
                        <div class="a-body">
                            <input type="number" th:field="*{id}" style="display: none;">
                            <div class="form-group">
                                <label for="firstname">Prénom</label>
                                <input id="firstname" type="text" th:field="*{firstname}">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Nom</label>
                                <input id="lastname" type="text" th:field="*{lastname}">
                            </div>
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input id="username" type="text" th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" th:field="*{password}">
                            </div>
                            <div class="form-group" style="overflow: auto;">
                                <label for="role">Roles</label>
                                <select multiple type="number" id="role" th:field="*{role}">
                                    <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="a-foot">
                            <button name="save" type="submit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>