.a-container {
    display: flex;
    flex-direction: column;
}
.a-container .a-header {
    display: flex;
}
.a-container .a-header h2 {
    position: relative;
    color: white;
    font-size: 2em;
}
.a-container .a-header h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 10px;
    width: 50%;
    background: rgb(158, 206, 46);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transition: 1s ease-in-out;
    z-index: -100;
}
.a-container .a-header h2:hover:after {
    clip-path: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(158, 206, 46), rgb(91, 91, 224));
    bottom: 100%;
}

/* EDIT */
.a-container .a-edit {
    padding: 10px 0;
}

.a-container .a-edit > .a-head {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.a-container .a-edit > .a-head .title {
    color: black;
    background: white;
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}
.a-container .a-edit h4 {
    font-size: 2em;
    color: white;
}
.a-container .a-edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    width: 500px;
}
.a-container .a-edit .a-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.a-container .a-edit .a-body .form-group {
    width: 48%;
}
.a-container .a-edit .a-body .form-group.textarea {
    width: 100%;
}
/* SITE */
.a-container .a-content .a-site-one {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.a-container .a-site-one a {
    color: black;
    border: 2px solid;
    background: rgba(255, 255, 255, 0.2);
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.a-container .a-site-one a:hover {
    background: white;
}
.a-container .a-content .a-site-two {
    flex-grow: 2;
}
.a-container .a-content .a-site-two .a-head a {
    color: black;
    background: white;
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}
/* FORM */
.a-card.form {
    width: 400px;
    padding: 0px 10px;
}
.a-card form {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    /* min-height: 100px; */
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    display: inline-block;
    border: none;
    font-size: 1em;
    color: white;
    border-color: black;
}
.form-group input,
.form-group textarea,
.form-group select {
    display: block;
    outline: none;
    margin: 10px 0px;
    height: 105px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    height: 20px;
    border: none;
}
option:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
option:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
option {
    padding: 5px;
    background: white;
    color: black;
    transition: .5s ease-in-out;
    font-size: 1em;
}
option:hover {
    background: gray;
}
.a-card.form .a-foot {
    display: flex;
}
.a-card.form .a-foot button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    width: 200px;
}