
.a-container .a-header {
    display: flex;
}
.a-container .a-header h2 {
    position: relative;
    color: white;
    font-size: 2em;
}
.a-container .a-header h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 10px;
    width: 50%;
    background: rgb(158, 206, 46);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transition: 1s ease-in-out;
    z-index: -100;
}
.a-container .a-header h2:hover:after {
    clip-path: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(158, 206, 46), rgb(91, 91, 224));
    bottom: 100%;
}


/* CONTENT */
.a-container .a-content {
    display: flex;
    flex-direction: row;
    position: relative;
}
/* SITE */
.a-container .a-content {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.a-container a {
    color: black;
    border: 2px solid;
    background: rgba(255, 255, 255, 0.2);
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.a-container a:hover {
    background: white;
}
.a-container .a-content {
    flex-grow: 2;
}
.a-container .a-content > .a-head {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.a-container .a-content > .a-head .title {
    color: black;
    background: white;
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}
.a-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px white;
    width: 500;
    margin: 10px;
}
.a-card .a-head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    transition: .5s ease-in-out;
}
.a-card .a-head .a-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0px;
    padding: 10px;
    color: white;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.a-card .a-head:hover .a-title {
    background: white;
    color: black;
    border: 2px solid white;
}
.a-card .a-body {
    display: flex;
    justify-content: space-between;
}
.a-card .a-body .a-site {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 50%;
}
.a-card .a-body .a-site div {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 0px;
}
.a-card .a-body .a-site:last-child div {
    flex-direction: column;
    margin: 0px;
    padding: 10px 0px;
}
.a-card .a-body .a-site div p:first-child {
    color: white;
}
.a-card .a-body .a-site div p {
    font-weight: bold;
    padding: 0;
    margin: 0px;
    font-size: 2em;
}
.a-card .a-foot {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    padding: 10px 0px;
}
.a-card .a-foot a {
    padding: 10px 5px 5px 5px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.a-card .a-foot .update {
    background: greenyellow;
}
.a-card .a-foot .delete {
    background: red;
}