.c-container {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}
.c-container .c-header {
    display: flex;
}
.c-container .c-header h2 {
    position: relative;
    color: white;
    font-size: 2em;
}
.c-container .c-header h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 10px;
    width: 50%;
    background: rgb(158, 206, 46);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transition: 1s ease-in-out;
    z-index: -100;
}
.c-container .c-header h2:hover:after {
    clip-path: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(158, 206, 46), rgb(91, 91, 224));
    bottom: 100%;
}

/* CONTENT */
.c-container .c-content {
    display: flex;
}
.c-container .c-content .c-form {
    width: 500px;
}
.c-container .c-content .c-form form {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    min-height: 100px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    display: inline-block;
    border: none;
    font-size: 2em;
    color: white;
    border-color: black;
}
.form-group input {
    display: block;
    outline: none;
    margin: 10px 0px;
    height: 105px;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100%;
    height: 20px;
    border: none;
}
.btn-register {
    position: relative;
    height: 50px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    color: rgb(22, 22, 54);
}
.btn-register::after {
    content: '';
    position: absolute;
    background: blue;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    transition: .5s ease-in-out;
}
.btn-register:hover:after {
    opacity: .2;
    height: 100%;
}
.c-container .c-content .c-form button {
    display: block;
    /* width: 100%; */
    flex-basis: 100%;
    height: 30px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}
.c-container .c-content .c-data-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-grow: 2;
}
.c-container .c-content .c-data-table .c-card {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(27, 24, 24);
    background: white;
    min-width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.c-container .c-content .c-data-table .c-card h4 {
    font-size: 2em;
    color: black;
    font-weight: bold;
}