.a-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.a-container .a-header {
    display: flex;
}
.a-container .a-header h2 {
    position: relative;
    color: orangered;
    font-size: 2em;
}
/* FORM */
.a-container > form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    display: inline-block;
    border: none;
    font-size: 2em;
    color: white;
    border-color: black;
}
.form-group input {
    display: block;
    outline: none;
    margin: 10px 0px;
    height: 105px;
    padding: 10px;
    height: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.a-container > form > button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.a-container > form > button:hover {
    color: blue;
    box-shadow: 0 5px 5px white;
}