.paginator {
    display: flex;
    flex-direction: column;
}
.paginator .a-size {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.paginator .a-size > label {
    font-weight: bold;
    padding: 0px 5px;
    color: white;
    text-transform: capitalize;
}
.paginator .a-size > input {
    width: 30px;
    display: block;
    outline: none;
    margin: 10px 0px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    border: none;
}
.a-pagination {
    position: relative;
    padding: 20px 0px;
}
.a-pagination > button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
}
.hidden {
    display: none;
}
.paginate {
    position: relative;
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2));
}
.paginate i {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #fff;
    transition: all 0.15s ease;
}
.paginate.left {
    right: 58%;
}
.paginate.left i {
    transform-origin: 0% 50%;
}
.paginate.left i:first-child {
    transform: translate(0, -1px) rotate(40deg);
}
.paginate.left i:last-child {
    transform: translate(0, 1px) rotate(-40deg);
}
.paginate.left:hover i:first-child {
    transform: translate(0, -1px) rotate(30deg);
}
.paginate.left:hover i:last-child {
    transform: translate(0, 1px) rotate(-30deg);
}
.paginate.left:active i:first-child {
    transform: translate(1px, -1px) rotate(25deg);
}
.paginate.left:active i:last-child {
    transform: translate(1px, 1px) rotate(-25deg);
}
.paginate.left[data-state="disabled"] i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"] i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"]:hover i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"]:hover i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
}
.paginate.right {
    left: 58%;
}
.paginate.right i {
    transform-origin: 100% 50%;
}
.paginate.right i:first-child {
    transform: translate(0, 1px) rotate(40deg);
}
.paginate.right i:last-child {
    transform: translate(0, -1px) rotate(-40deg);
}
.paginate.right:hover i:first-child {
    transform: translate(0, 1px) rotate(30deg);
}
.paginate.right:hover i:last-child {
    transform: translate(0, -1px) rotate(-30deg);
}
.paginate.right:active i:first-child {
    transform: translate(1px, 1px) rotate(25deg);
}
.paginate.right:active i:last-child {
    transform: translate(1px, -1px) rotate(-25deg);
}
.paginate.right[data-state="disabled"] i:first-child {
    transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"] i:last-child {
    transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"]:hover i:first-child {
    transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"]:hover i:last-child {
    transform: translate(5px, 0) rotate(0deg);
}
.paginate[data-state="disabled"] {
    opacity: 0.3;
    cursor: default;
}
.counter {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
}
