.a-container .a-header {
  display: flex;
}
.a-container .a-header h2 {
  position: relative;
  color: white;
  font-size: 2em;
}
.a-container .a-header h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  height: 10px;
  width: 50%;
  background: rgb(158, 206, 46);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  transition: 1s ease-in-out;
  z-index: -100;
}
.a-container .a-header h2:hover:after {
  clip-path: none;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgb(158, 206, 46), rgb(91, 91, 224));
  bottom: 100%;
}

/* CONTENT */
.a-container .a-content {
  display: flex;
  flex-direction: row;
  position: relative;
}
.a-container .a-content table {
  border: medium solid white;
  border-collapse: collapse;
  width: 100%;
}
.a-container .a-content thead th {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
    font-size: 25px;
}
.a-container .a-content tbody th {
    padding: 10px 0px;
    font-size: 15px;
    text-transform: capitalize;
}
.a-container .a-content th {
  font-family: monospace;
  border: thin solid white;
  width: 50%;
  padding: 5px;
  background-color: #d0e3fa;
}
.a-container .a-content td {
  font-family: sans-serif;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  text-align: center;
}
.a-container .a-content caption {
  font-family: sans-serif;
}
.a-container .a-content tbody th a {
    border: 1px solid white;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}
.a-container .a-content tbody th a.update {
    background-color: aquamarine;
}
.a-container .a-content tbody th a.delete {
    background-color: orangered;
}
