<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Liste Catégories</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/category.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/article.css"/>
</head>

<body>
    <div class="main-container">
        <!-- NAVBAR -->
        <div class="main-header">
            <nav>
                <a href="/web/user">User</a>
                <a href="/web/category">Catégorie</a>
                <a href="/web/article">Article</a>
            </nav>
        </div>

        <!-- CONTENT -->
        <div class="main-content">
            <div class="c-container">
                <div class="c-header">
                    <h2>Liste de toutes les catégories</h2>
                </div>
        
                <div class="c-content">
                    <div class="c-form">
                        <form action="#" th:action="@{/web/category}" th:object="${category}" method="post" autocomplete="off">
                            <div>
                                <input type="number" th:field="*{id}" style="display: none;"/>
                            </div>
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input id="name" type="text" th:field="*{name}">
                            </div>
                            <button class="btn-register" type="submit">Enregistrer</button>
                        </form>
                    </div>
        
                    <div class="c-data-table">
                        <div th:each="category : ${categories}">
                            <a class="c-card" th:href="@{'/web/category/edit/' + ${category.id}}">
                                <h4 th:text="${category.name}"></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>